#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        OPT_FLAG=-O0
else
        OPT_FLAG=-O2
endif

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
        RELEASE_TYPE=debug
else
        RELEASE_TYPE=release
endif

comma :=,
empty :=
space := $(empty) $(empty)

MAKEDOCS = 1

TMP_BUILD_OPTS = $(subst $(comma),$(space),$(DEB_BUILD_OPTIONS))

ifneq (,$(filter n900,$(TMP_BUILD_OPTS)))
        QMAKE_OPTIONS += DEFINES+=NO_EVDEV
        QMAKE_OPTIONS += TOUCHSCREEN_LISTENER_IMPL=dummy
endif

ifneq (,$(filter parallel=%,$(TMP_BUILD_OPTS)))
         NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(TMP_BUILD_OPTS)))
         PARALLEL_MAKEFLAGS += -j$(NUMJOBS)
endif

# Don't build documentation by setting DEB_BUILD_OPTION=nodocs,...
ifneq (,$(findstring nodocs,$(DEB_BUILD_OPTIONS)))
     MAKEDOCS = 0
     EXCLUSIONS += --no-package=libmeegoreactionmap-doc
endif

QT_INSTALL_DATA:=$(shell qmake -query QT_INSTALL_DATA)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	qmake -recursive CONFIG+=${RELEASE_TYPE} QMAKE_CXXFLAGS+="-g ${OPT_FLAG}" $(QMAKE_OPTIONS)
	sed -e 's|QT_INSTALL_DATA|${QT_INSTALL_DATA}|' > debian/libmeegoreactionmap-dev.install < debian/libmeegoreactionmap-dev.install.in
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) $(PARALLEL_MAKEFLAGS)

	# libmeegoreactionmap-doc package
ifneq (0,$(MAKEDOCS))
	$(MAKE) $(PARALLEL_MAKEFLAGS) doc
endif

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs $(EXCLUSIONS)

	# Add here commands to install the package into debian/meegofeedback-reactionmaps.
	INSTALL_ROOT=$(CURDIR)/debian/tmp make  $(PARALLEL_MAKEFLAGS) install

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir $(EXCLUSIONS)
	dh_testroot $(EXCLUSIONS)
	dh_installchangelogs $(EXCLUSIONS)
	dh_installdocs $(EXCLUSIONS)
#	dh_installexamples
	dh_install --sourcedir=debian/tmp $(EXCLUSIONS) -v
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link $(EXCLUSIONS)
	dh_strip --dbg-package=libmeegoreactionmap0 -Xmeegofeedback-reactionmap
	dh_strip --dbg-package=meegofeedback-reactionmap -Xmeegofeedback-reactionmap-xrecord
	dh_strip --dbg-package=meegofeedback-reactionmap-xrecord
	dh_compress $(EXCLUSIONS)
	dh_fixperms $(EXCLUSIONS)
#	dh_perl
#	dh_python
	dh_makeshlibs $(EXCLUSIONS)
	dh_installdeb $(EXCLUSIONS)
	dh_shlibdeps $(EXCLUSIONS)
	dh_gencontrol $(EXCLUSIONS)
	dh_md5sums $(EXCLUSIONS)
	dh_builddeb $(EXCLUSIONS)

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
